{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-es2015",
        "@babel/preset-react",
        "@babel/preset-stage-1",
        ["@babel/preset-env",{
          "useBuiltIns": "entry",
          "spec": true,
          "loose": true
        }]
      ],
      "plugins": [["react-hot-loader/babel"],["@babel/plugin-transform-classes"],["react-loadable/babel"]]
    },
    "production": {
      "presets": [
        "@babel/preset-es2015",
        "@babel/preset-react",
        "@babel/preset-stage-1",
        ["@babel/preset-env",{
          "useBuiltIns": "entry",
          "spec": true,
          "loose": true
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-classes",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "react-loadable/babel"
      ]
    }
  }
}
