{
  "presets": [
    "@babel/preset-es2015",
    "@babel/preset-react",
    "@babel/preset-stage-1"
  ],
  "env": {
    "development": {
      "plugins": [["react-hot-loader/babel"],["@babel/plugin-transform-classes"]]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-classes",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types"
      ]
    }
  }
}
