@charset 'utf-8';
body{
  padding: 0rem;
  margin: 0rem;
  font-size: 1.125rem;
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
  background-image: url('assets/th8.jpeg');
  background-size: 100% 100%;
  background-position: center center;
}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.main{
  text-align: center;
}
.footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-align: center;
  a{
    color: #000;
  }
}